{% extends "::base.html.twig" %}

{% block title %}AppBundle:OrdersController:allOrders{% endblock %}

{% block body %}
<h1>Welcome to the OrdersController:allOrders page</h1>

    {{ dump(results) }}


{% endblock %}
