{% extends "::base.html.twig" %}

{% block title %}AppBundle:OrdersController:findOrder{% endblock %}

{% block body %}
<h1>Welcome to the OrdersController:findOrder page </h1>
    {{ dump(orderById) }}
{% endblock %}
